.primeiro, .segundo, .terceiro{
    text-align: center;
}

@media (min-width: 768px){
    .segundo{
        display: flex;
        background-color: green;
        justify-content: space-around;

    }
    .terceiro{
        background-color: blueviolet;
    }
}

@media (min-width: 1024px){

  .primeiro{
    display: flex;
    justify-content: space-around;
   background-color: aqua;
  }
  .segundo{
    background-color: antiquewhite;
  }

  .terceiro{
    background-color: red;
  }
  

}
